@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  font-weight: 100%;
  font-family: "Manrope", sans-serif;
  @apply text-gray-600;
}

.product__listing .product__name:nth-last-child(even) .product__img {
  order: 2;
}

body.active__modal {
  overflow-y: hidden;
  /* position: fixed !important; */
  position: fixed;
}
